extends layout
block content
  h1 Create An Account
  if (errorMessage)
    div= errorMessage
  form(action="/processRegistration",
       method="post",
       class="form-horizontal")
       
    label(class="control-label col-md-1",
          for="firstName") First Name:
    div(class="col-md-4 form-group")
      input(type="text",
            name="firstName",
            id="firstName",
            placeholder="First Name",
            class="form-control")
       
    label(class="control-label col-md-1",
          for="lastName") Last Name:
    div(class="col-md-4 form-group")
      input(type="text",
            name="lastName",
            id="lastName",
            placeholder="Last Name",
            class="form-control")
       
    label(class="control-label col-md-1",
          for="username") Username:
    div(class="col-md-4 form-group")
      input(type="text",
            name="username",
            id="username",
            placeholder="Username",
            class="form-control")

    label(class="control-label col-md-1",
          for="password") Password:
    div(class="col-md-4 form-group")
      input(type="password",
            name="password",
            id="password",
            class="form-control")
    
    label(class="control-label col-md-1",
          for="password2") Password (again):
    div(class="col-md-4 form-group")
      input(type="password",
            name="password2",
            id="password2",
            class="form-control")
    
    div(class="col-md-offset-1 col-md-1")
      button(type="submit", class="btn btn-primary") Sign Up